<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/Admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/Admin/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/Admin/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/Admin/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/Admin/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/Admin/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/Admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('../partials/Adminside/adminsidepanel') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/Adminside/adminNav') %>
          <!-- partial -->

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">Product Details</h3>
              </div>
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Product Information</h4>
                      <p class="card-description text-info">Basic product info</p>
                      <form action="/admin/product/Edit" method="post" class="forms-sample"
                        enctype="multipart/form-data">
                        <input type="hidden" value="<%= id %>" name="id">
                        <% if (message !=="" ) { %>
                          <p class="text-danger">
                            <%= message %>
                          </p>
                          <% } %>

                            <!-- Product Name -->
                            <div class="form-group">
                              <label for="productName">Product Name</label>
                              <input type="text" class="form-control text-white" value="<%= product.product_name %>"
                                name="productName" id="productName" placeholder="Name">
                            </div>

                            <!-- Manufacturer Name -->
                            <div class="form-group">
                              <label for="manufacturerName">Manufacturer Name</label>
                              <input type="text" class="form-control text-white"
                                value="<%= product.manufacturer_name %>" name="manufacturerName" id="manufacturerName"
                                placeholder="Manufacturer">
                            </div>

                            <!-- Brand Name -->
                            <div class="form-group">
                              <label for="brandName">Brand Name</label>
                              <input type="text" class="form-control text-white" value="<%= product.brand_name %>"
                                name="brandName" id="brandName" placeholder="Brand Name">
                            </div>

                            <!-- Identification No -->
                            <div class="form-group">
                              <label for="id_No">Identification No</label>
                              <input type="text" class="form-control text-white"
                                value="<%= product.idendification_no %>" name="id_No" id="id_No" placeholder="ID">
                            </div>

                            <!-- Price -->
                            <div class="form-group">
                              <label for="price">Price</label>
                              <input type="number" class="form-control text-white" value="<%= product.price %>"
                                name="price" id="price" placeholder="Price">product
                            </div>
                            <!-- Offer  -->
                            <div class="form-group">
                              <label for="price">Offer </label>
                              <select class="form-control form-control-lg text-white" name="offer" id="offer">
                                <% if (product.offer) { %>
                                  <option value="<%= product.offer._id %>"  selected><%= product.offer.name %></option>
                                <% } else {%>
                                  <option value="" disabled selected>No offers</option>
                                  <% } %>
                             
                                <% offers.forEach(element => { %>
                                  <% if (product.offer) { %>
                                    <% if (element.name !== product.offer.name ) { %>
                                      <option value="<%= element._id %>"><%= element.name %></option>
                                     <% } %>
                                  <% }else{ %>
                                    <option value="<%= element._id %>"><%= element.name %></option>
                                    <% } %> 
                                <% }) %>
                                <% if (product.offer) { %>
                                  <option value="Delete">Delete Offer</option>
                                <% } %>
                              </select>
                            </div>

                            <!-- Date of Release -->
                            <div class="form-group">
                              <label for="releaseDate">Date of Release</label>
                              <input type="date" class="form-control text-white" value="<%= product.relese_date %>"
                                name="releaseDate" id="releaseDate" placeholder="Release Date">
                            </div>

                            <!-- Stock Count -->
                            <div class="form-group">
                              <label for="stockCount">Stock Count</label>
                              <input type="number" class="form-control text-white" value="<%= product.stock_count %>"
                                name="stockCount" id="stockCount" placeholder="Count">
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                              <label for="description">Description</label>
                              <textarea class="text-white form-control" id="description"
                                value="<%= product.description %>" name="description" rows="8"
                                placeholder="Write about the Product"></textarea>
                            </div>

                            <!-- Product Categories and Tags -->
                            <div class="col-md-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Product Categories and Tags</h4>
                                  <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control form-control-lg text-white" name="category"
                                      id="category">
                                    
                                      <option value="<%= product.category._id %>"  selected > <%= product.category.categoryName %></option>
                                      <% Categories.forEach(category=> { %>
                                        <% if (product.category !==  category.categoryName ) { %>
                                        <option value="<%= category._id %>">
                                          <%= category.categoryName %>
                                        </option>
                                        <% } %>
                                        <% }) %>


                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="tags">Product Tags</label>
                                    <input type="text" class="form-control" value="<%= product.product_tags %>"
                                      name="tags" id="tags" placeholder="Enter the Product Tags">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Availability -->
                            <div class="col-md-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-description text-white">Availability</h5>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" name="inStock" id="inStockRadio"
                                      value="inStock">
                                    <label class="form-check-label" for="inStockRadio">In Stock</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" name="inStock" id="outOfStockRadio"
                                      value="outOfStock">
                                    <label class="form-check-label" for="outOfStockRadio">Out Of Stock</label>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Images Upload -->
                            <div class="form-group">
                              <label>Images Upload (Required: 3)</label>
                              <div class="input-group col-md-12">
                                <div class="col-md-12 grid-margin stretch-card">
                                  <% product.images.forEach(image=> { %>
                                    <!-- <form action="/admin/product/img-delete" method="post"> -->
                                    <div style="position: relative;">
                                      <!-- Display the image -->
                                      <img
                                        src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>"
                                        alt="<%= product.product_name %>" style="width: 180px;height: 180px;">

                                      <a class="btn btn-danger btn-delete-image"
                                        href="/admin/product/<%= image._id %>/<%= id %>/deleteImg">X</a>


                                    </div>
                                    <!-- </form> -->

                                    <% }) %>
                                </div>
                                <input type="file" id="images" name="images" multiple
                                  class="form-control file-upload-info">
                              </div>
                            </div>

                            <!-- Color -->
                            <div class="form-group">
                              <label for="color">Color</label>
                              <select class="form-control text-white" name="color" id="color">
                                <option value="-1" disabled> value="<%= product.color %>"</option>
                                <option>White</option>
                                <option>Black</option>
                                <option>Blue</option>
                                <option>Silver</option>
                                <option>Gold</option>
                                <option>Red</option>
                                <option>Gray</option>
                                <option>Yellow</option>
                                <option>Pink</option>
                              </select>
                            </div>

                            <!-- Material -->
                            <div class="form-group">
                              <label for="Metrial">Material</label>
                              <select class="form-control text-white" name="Metrial" id="Metrial">
                                <option>
                                  <%= product.meterial %>
                                </option>
                                <option>Stainless Steel</option>
                                <option>Titanium</option>
                                <option>Gold</option>
                                <option>Silver</option>
                                <option>Quartz</option>
                                <option>Sapphire</option>
                                <option>Bronze</option>
                                <option>Tungsten</option>
                                <option>Steel</option>
                              </select>
                            </div>

                            <!-- Submit and Clear Buttons -->
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            <button type="reset" class="btn btn-primary mb-2">Clear</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--footer code start-->

          <!-- partial -->
      </div>
      <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->



  </SCript>
  <script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/Admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/Admin/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/Admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/Admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/Admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/Admin/js/off-canvas.js"></script>
  <script src="/Admin/js/hoverable-collapse.js"></script>
  <script src="/Admin/js/misc.js"></script>
  <script src="/Admin/js/settings.js"></script>
  <script src="/Admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/Admin/js/dashboard.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!-- End custom js for this page -->
</body>

</html>