
<%- include('../partials/Adminside/adminNav') %>

    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('../partials/Adminside/adminsidepanel') %>
            <!-- partial -->
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">                    <!-- partial -->
                    <div class="main-panel">

                        <div class="content-wrapper">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                        <input type="text" class="form-control" placeholder="Search products">
                                    </form>
                                </li>
                            </ul>

                            <div class="row">
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Order Table</h4>
                                            <p class="card-description"> All Orders <code>.table</code>
                                            </p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Customer</th>
                                                            <th>Products Name & Quantity</th>
                                                            <th>Address</th>
                                                            <th>Total</th>
                                                            <th>Status</th>
                                                            <th>Payment Option</th>
                                                            <!-- <th>Show Details</th> -->

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% orders.forEach((order,i)=> { %>
                                                            <tr>
                                                                <td>
                                                                    <%= i+1 %>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <% if (!order.user.image && !order.user.image) {
                                                                            %>
                                                                            <img src="/Customer/img/blog/popular-post/account-icon-user-icon-vector-graphics_292645-552.avif"
                                                                                alt="image" class="rounded-circle">
                                                                            <% } else { %>

                                                                                <% } %>

                                                                                    <br>
                                                                                    <br>
                                                                                    <h6>
                                                                                        <%= order.user.name %>
                                                                                    </h6>
                                                                                    <p>
                                                                                        <%= order.user.email %>
                                                                                    </p>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <% order.products.forEach((pro, i)=> { %>
                                                                        <div>
                                                                            <h6>
                                                                                <%= i + 1 %> ) <% if (pro.product) { %>
                                                                                        <%= pro.product.product_name %>
                                                                                            : <%= pro.quantity %>,
                                                                                                <% } %>
                                                                                                    <br>
                                                                            </h6>
                                                                        </div>
                                                                        <br>
                                                                        <% }) %>

                                                                </td>
                                                                <td>
                                                                    <h6>
                                                                        <%= order.deliveryAddress.HouseName %>
                                                                            <%= order.deliveryAddress.RoadArea %>
                                                                                <%= order.deliveryAddress.City %>
                                                                                    <%= order.deliveryAddress.Region %>
                                                                                        <br>
                                                                                        <%=
                                                                                            order.deliveryAddress.Country%>
                                                                                            <%=
                                                                                                order.deliveryAddress.PinCode%>
                                                                                                <br>
                                                                                                <%=
                                                                                                    order.deliveryAddress.Mobile%>
                                                                    </h6>
                                                                </td>
                                                                <td>
                                                                    <h6>
                                                                        $ <%= order.totalAmount %>
                                                                    </h6>
                                                                </td>
                                                                <td>
                                                                    <% if (order.return_Status==="Completed" ){%>
                                                                        <h5 class="text-danger">
                                                                            The product return as been successfully
                                                                        </h5>

                                                                        <% }else if (order.is_returned===true) { %>
                                                                            <p class="text-danger">
                                                                                User requesting to
                                                                                <br> return the product  </p>
                                                                                <% if (order.return_reason){ %>
                                                                                    <br>
                                                                                    <p class="text-danger">
                                                                                        Reason :
                                                                                    <%= order.return_reason %>
                                                                                </p>
                                                                                        <% } %>
                                                                          

                                                                            
                                                                                <div class="btn-group">
                                                                                    <button type="button"
                                                                                        class="btn btn-danger">
                                                                                        <%= order.return_Status %>
                                                                                    </button>
                                                                                    <button type="button"
                                                                                        class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                                                                        data-toggle="dropdown"
                                                                                        aria-haspopup="true"
                                                                                        aria-expanded="false">
                                                                                        <span class="sr-only">Toggle
                                                                                            Dropdown</span>
                                                                                    </button>
                                                                                    <div class="dropdown-menu">
                                                                                        <a class="dropdown-item"
                                                                                            href="/admin/order/return-product?action=Pending&orderId=<%= order._id %>">Pending</a>
                                                                                        <a class="dropdown-item"
                                                                                            href="/admin/order/return-product?action=Reject&orderId=<%= order._id %>">Reject</a>
                                                                                        <a class="dropdown-item"
                                                                                            href="/admin/order/return-product?action=Completed&orderId=<%= order._id %>">Completed</a>
                                                                                    </div>
                                                                                </div>
                                                                                <% } else { %>
                                                                                    <% if (order.orderCanceled==true){
                                                                                        %>
                                                                                        <h6 class="text-danger">
                                                                                            Order Canceled
                                                                                        </h6>
                                                                                        <% if (order.orderCancelReason) {%>
                                                                                            <p class="text-danger"> Reason : <%= order.orderCancelReason%> </p>
                                                                                            <% }%>
                                                                                       
                                                                                        <% } else { %>
                                                                                            <div class="btn-group">
                                                                                                <button type="button"
                                                                                                    class="btn btn-danger">
                                                                                                    <%= order.returnRequest
                                                                                                        %>
                                                                                                </button>
                                                                                                <button type="button"
                                                                                                    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                                                                                    data-toggle="dropdown"
                                                                                                    aria-haspopup="true"
                                                                                                    aria-expanded="false">
                                                                                                    <span
                                                                                                        class="sr-only">Toggle
                                                                                                        Dropdown</span>
                                                                                                </button>
                                                                                                <div
                                                                                                    class="dropdown-menu">
                                                                                                    <a class="dropdown-item"
                                                                                                        href="/admin/order/action-update?action=Pending&orderId=<%= order._id %>">Pending</a>
                                                                                                    <a class="dropdown-item"
                                                                                                        href="/admin/order/action-update?action=Approved&orderId=<%= order._id %>">Approved</a>
                                                                                                    <a class="dropdown-item"
                                                                                                        href="/admin/order/action-update?action=Reject&orderId=<%= order._id %>">Reject</a>
                                                                                                    <a class="dropdown-item"
                                                                                                        href="/admin/order/action-update?action=Completed&orderId=<%= order._id %>">Completed</a>
                                                                                                </div>
                                                                                            </div>
                                                                                            <% } %>
                                                                                                <% } %>


                                                                </td>
                                                                <td>
                                                                    <%= order.paymentOption %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <!-- <a class="fw-bold " href="">Go</a> -->
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination justify-content-end">
                                                    <% if (currentPage !==1) { %>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="/admin/orders?page=<%= currentPage-1 %>"
                                                                aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <!-- Calculate the total number of pages -->
                                                            <% const totalPages=Math.max(1, Math.ceil(len.length / 10));
                                                                %>
                                                                <!-- Loop through the total number of pages and create a page link for each -->
                                                                <% for (let page=1; page <=totalPages; page++) { %>
                                                                    <li
                                                                        class="page-item <% if (currentPage == page) { %>active<% } %>">
                                                                        <a class="page-link"
                                                                            href="/admin/orders?page=<%= page %>">
                                                                            <%= page %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (currentPage !==totalPages ) { %>
                                                                            <li class="page-item">
                                                                                <% const nextPage=currentPage + 1; %>
                                                                                    <a class="page-link"
                                                                                        href="/admin/orders?page=<%= nextPage %>"
                                                                                        aria-label="Next">
                                                                                        <span
                                                                                            aria-hidden="true">&raquo;</span>
                                                                                    </a>

                                                                            </li>
                                                                            <% } %>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <%- include('../partials/Adminside/footer') %>
