<%- include('../../partials/Adminside/adminNav') %>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('../../partials/Adminside/adminsidepanel') %>
            <!-- partial -->
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                    <!-- partial -->
                    <div class="main-panel">

                        <div class="content-wrapper">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    <form action="/admin/Offer/" method="get" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                        <input id="searchInput" type="text" name="query" value="<%= query || '' %>" class="form-control" placeholder="Search user by name" />
                                        <button class="btn btn-info" type="submit" id="searchButton">Search by name</button>
                                      </form>
                                </li>
                            </ul>

                            <div class="row">
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="d-flex flex-row justify-content-between">
                                                <h4 class="card-title">Offers </h4>
                                                <a href="/admin/offer/create/">Add Offer</a>
                                            </div>

                                            </p>
                                            <div class="table-responsive">
                                                <% if (Offers.length) { %>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>NO</th>
                                                                <th>Offer Name</th>
                                                                <th>Starting Date</th>
                                                                <th>Expaire Date </th>
                                                                <th>Expaire Date</th>
                                                                <th>Discount % </th>
                                                                <th>Status</th>
                                                                <th>Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% Offers.forEach((offer,i)=> { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= i+1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= offer.name %>
                                                                    </td>
                                                                    <!-- <td> </td> -->
                                                                    <td>
                                                                        <%= offer.startingDate.toLocaleDateString() %>
                                                                    </td>

                                                                    <td>
                                                                        <%= offer.expiryDate.toLocaleDateString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= offer.expiryDate.toLocaleDateString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= offer.discount %>
                                                                    </td>
                                                                    <td>
                                                                        <%= offer.status %>
                                                                        
                                                                    </td>
                                                                    <td>
                                                                        <% if (offer.is_deleted===true) { %>
                                                                            <a href="/admin/offer/<%= offer._id %>/active-offer/"
                                                                                class="btn btn-success">Active</a>
                                                                            <% } else { %>
                                                                                <a href="/admin/offer/<%= offer._id %>/delete-offer/"
                                                                                    class="btn btn-danger">Delete</a>
                                                                                <% } %>
                                                                                    <a href="/admin/offer/<%= offer._id %>/Edit-offer/"
                                                                                        class="btn btn-primary">Edit</i></a>

                                                                    </td>
                                                                </tr>
                                                                <% }) %>
                                                        </tbody>
                                                    </table>
                                                    <% } else { %>
                                                        <p>No Offers..!</p>
                                                        <% } %>


                                                       



                                            </div>
                                            <%- include('../../partials/Adminside/footer') %>