<!-- Header Start -->
<%- include('../partials/Customerside/header')%>
  <!-- Header End -->

  <main>

    <!-- Hero Area Start-->

    <% if (success && success.length> 0) { %>
      <div class="alert alert-success text-center" id="success-message">
        <% success.forEach(function(message) { %>
          <p>
            <%= message %>
          </p>
          <% }); %>
      </div>
      <script>
        setTimeout(function () {
          var successMessage = document.getElementById('success-message');
          if (successMessage) {
            successMessage.style.display = 'none';
          }
        }, 2000); 
      </script>
      <% } %>

        <!--================Cart Area =================-->
        <section class="cart_area section_padding">
          <div class="container">
            <div class="cart_inner">
              <div class="table-responsive">

                <div class="alert alert-succes text-center">
                  <p id="flash-message" style="color: green;"></p>
                </div>
                <!-- success message -->

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (!Products || Products.length <=0) { %>
                      <p>
                        <strong class="text-danger">
                          No items addedd...
                        </strong>
                      </p>
                      <% } %>
                        <% Products.forEach((product, i)=> { %>
                          <% if ( currentUser.cart[i].quantity !==0 ) { %>
                            <tr>
                              <td>
                                <div>

                                </div>
                                <div class="media">
                                  <div class="d-flex">
                                    <img
                                      src="data:<%= product.product.images[0].contentType %>;base64,<%= product.product.images[0].data.toString('base64') %>"
                                      alt="<%= product.price %>">
                                  </div>
                                  <div>
                                    <div class="media-body">
                                      <p class="font-weight-bold">
                                        <strong>
                                          <%= product.product.product_name %>
                                        </strong>
                                        <br><br>
                                      </p>
                                      <span class="font-weight-light">Color : <%= product.product.color %></span> <br>
                                      <br>
                                      <span class="font-weight-light"> Brand : <%= product.product.brand_name %></span>

                                    </div>
                                    <br>
                                    <div>

                                      <a href="/user/remove-Cart-item?id=<%= currentUser.cart[i]._id %>" type="button"
                                        class=" btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                        title="Remove item">
                                        <i class="fas fa-trash"></i>
                                      </a>

                                      <a href="#" type="button" class=" btn-danger btn-sm mb-2"
                                        data-mdb-toggle="tooltip" title="Move to the wish list">
                                        <i class="fas fa-heart"></i>
                                      </a>

                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p>
                                  <% if (product.product.offerPrice > 0 && (product.product.offerPrice < product.product.price || product.product.price <= 0) && (product.product.offerPrice < product.product.categoryOfferPrice || product.product.categoryOfferPrice <= 0)) { %>
                                    <small>&#8377;<%= product.product.offerPrice %> </small>
                                    <small><del class="text-danger"><%= product.product.price %></del></small>
                                 <% } else if (product.product.price > 0 && (product.product.price < product.product.offerPrice || product.product.offerPrice <= 0) && (product.product.price < product.product.categoryOfferPrice || product.product.categoryOfferPrice <= 0)) { %>
                                  <span>&#8377;<%= product.product.price %></span>
                                 <% } else if (product.product.categoryOfferPrice > 0 && (product.product.categoryOfferPrice < product.product.offerPrice || product.product.offerPrice <= 0) && (product.product.categoryOfferPrice < product.product.price || product.product.price <= 0)) { %>
                                  <small>&#8377;<%= product.product.categoryOfferPrice %></small>
                                  <small class="text-danger"><del class="text-danger">&#8377;<%=product.product.price %></del></small>
                                 <% } else { %>
                                    &#8377;0
                                 <% } %>
                              </td>
                              <td>
                                <div class="product_count">
                                  <button class="input-number-decrement btn btn-primary btn-sm" data-action="decrement"
                                    data-cart-item-id="<%= product.product._id %>">
                                    <i class="fas fa-minus"></i>
                                  </button>
                                  <input class="input-number" type="number" value="<%= currentUser.cart[i].quantity %>"
                                    min="0" max="10" step="1" readonly>
                                  <button class="input-number-increment btn btn-primary btn-sm" data-action="increment"
                                    data-cart-item-id="<%= product.product._id %>">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </td>
                              <td>
                                <p class="price" id="cart-total-amount_<%= product.product._id %>"
                                  data-cart-total-id="change_total" name="totalAmount">
                                  &#8377;<%= currentUser.cart[i].total %>
                                </p>
                              </td>
                            </tr>
                            <% } %>
                              <% }) %>
                                <tr class="bottom_button">
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <h5>Subtotal</h5>
                                  </td>
                                  <td>

                                    <% if (Products.length>= 1) { %>
                                      <span id="subtotalAmount">
                                        &#8377;<%= currentUser.totalCartAmount %>
                                      </span>
                                      <% } else {%>
                                        <span>&#8377;0</span>
                                        <% } %>
                                  </td>
                                </tr>
                  </tbody>
                </table>
                <div class="checkout_btn_inner float-right d-flex">
                  <a class="btn_1 " href="/user/shop">Continue Shopping</a>
                  <form action="/user/Checkout" method="get">
                    &nbsp;
                    <button type="submit" class="btn_1 ">Proceed to checkout</button>
                  </form>
                </div>
              </div>
            </div>
        </section>
        <!--================End Cart Area =================-->
  </main>
  <footer>
    <!-- Footer Start-->
    <%- include('../partials/Customerside/footer')%>
      <!-- Footer End-->
  </footer>
  <script src="/Customer/js/cartQuantity.js"></script>