<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/Customer/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="/Customer/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Customer/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/Customer/css/flaticon.css">
  <link rel="stylesheet" href="/Customer/css/slicknav.css">
  <link rel="stylesheet" href="/Customer/css/animate.min.css">
  <link rel="stylesheet" href="/Customer/css/magnific-popup.css">
  <link rel="stylesheet" href="/Customer/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/Customer/css/themify-icons.css">
  <link rel="stylesheet" href="/Customer/css/slick.css">
  <link rel="stylesheet" href="/Customer/css/nice-select.css">
  <link rel="stylesheet" href="/Customer/css/style.css">
</head>

<body>

  <header>
    <!-- Header Start -->
    <%- include('../partials/Customerside/header') %>
      <!-- Header End -->
  </header>
  <main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
      <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap text-center">
                <h2>Checkout</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Checkout Area =================-->
    <section class="checkout_area section_padding">
      <div class="container">
        <div class="returning_customer">
          <div class="check_title">
            <h2>
              Returning Customer?
              <a href="Customer#">Click here to login</a>
            </h2>
          </div>
          <p>
            If you have shopped with us before, please enter your details in the
            boxes below. If you are a new customer, please proceed to the
            Billing & Shipping section.
          </p>
          <form class="row contact_form" action="#" method="post" novalidate="novalidate">
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="name" name="name" value=" " />
              <span class="placeholder" data-placeholder="Username or Email"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="password" class="form-control" id="password" name="password" value="" />
              <span class="placeholder" data-placeholder="Password"></span>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="btn_3">
                log in
              </button>
              <div class="creat_account">
                <input type="checkbox" id="f-option" name="selector" />
                <label for="f-option">Remember me</label>
              </div>
              <a class="lost_pass" href="#">Lost your password?</a>
            </div>
          </form>
        </div>
        <div class="cupon_area">
          <div class="check_title">
            <h2>
              Have a coupon?
              <a href="#">Click here to enter your code</a>
            </h2>
          </div>
          <input type="text" placeholder="Enter coupon code" />
          <a class="tp_btn" href="#">Apply Coupon</a>
        </div>

        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <!-- display product start-->
              <h3>Products Details</h3>

              <% cart.forEach(items=> { %>

                <div class="card mb-4 shadow">
                  <div class="card-body p-4  rounded-pill">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <img
                          src="data:<%= items.product.images[0].contentType %>;base64,<%= items.product.images[0].data.toString('base64') %>"
                          alt="<%= items.total %> " style="width: 80px;height: 80px;">

                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2">Brand</p>
                          <p class="lead fw-normal mb-0">
                            <%=items.product.brand_name %>
                          </p>
                        </div>

                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2">Color</p>
                          <p class="lead fw-normal mb-0">
                            <%= items.product.color %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2">Quantity</p>
                          <p class="lead fw-normal mb-0">
                            <%= items.quantity %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2">Price</p>
                          <p class="lead fw-normal mb-0">
                            <%= items.product.price %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2">Total</p>
                          <p class="lead fw-normal mb-0">
                            <%= items.total %>
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <% }) %>
                  <!-- display product end -->

                  <!-- Modal Trigger Button -->
                  <div class="card">
                    <div class="card-body shadow-sm">
                      <h3 class="card-title">default address</h3>
                      <hr>
                      <h5>
                        <%= selectAddress.Name %>
                      </h5>
                      <p class="card-text">

                        <%=selectAddress.HouseName%>
                          <%= selectAddress.RoadArea %> <br>
                            <%= selectAddress.City %>
                              <%= selectAddress.Region %>
                                <%=selectAddress.PinCode %>
                      </p>
                      <form action="/user/address/edit" method="post">
                        <input type="hidden" name="id" value="<%= selectAddress._id %>">
                        <input type="hidden" name="back" value="true">
                        <button type="submit" class="btn_1 btn-primary">Edit</a>
                      </form>
                    </div>
                  </div>
                  <br>
                  <button type="button" class="btn_1 " data-toggle="modal" data-target="#productDetailsModal">
                    Select Address
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog"
                    aria-labelledby="productDetailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document"><!-- Added modal-lg class here -->
                      <div class="modal-content">
                        <div class="modal-header">

                          <h5 class="modal-title" id="productDetailsModalLabel">Product Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <!-- Card Inside the Modal -->
                          <% address.forEach((item,i)=> { %>
                            <% if (!item.in_use) { %>


                              <div class="card ">
                                <div class="card-body">
                                  <h5 class="card-title">ADDRESS <i>
                                      <%= i+1 %>
                                    </i> </h5>
                                  <hr>
                                  <h6 class="card-text">
                                    <%=item.Name %>

                                  </h6>
                                  <p class="card-text">

                                  </p>
                                  <div>
                                    <%=item.HouseName%>
                                      <%= item.RoadArea %> <br>
                                        <%= item.City %>
                                          <%= item.Region %>
                                            <%=item.PinCode %>
                                              <br>
                                              <br>

                                              <div class="d-flex modal-footer float-left">
                                                <form action="/user/address/edit" method="post">
                                                  <input type="hidden" name="id" value="<%= item._id %>">
                                                  <input type="hidden" name="back" value="true">

                                                  <button type="submit" class="btn_1 btn-primary">Edit</a>
                                                </form>
                                                <form action="/user/address/selsect" method="post">
                                                  <input type="hidden" name="addressId" value="<%= item._id %>">

                                                  <button type="submit"
                                                    class="btn_1 btn-primary rounded-pill">Select</button>
                                                </form>
                                              </div>
                                  </div>
                                </div>
                              </div>
                              <% } %>
                                <% }) %>
                                  <!-- End Card -->
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn_1 btn-secondary" data-dismiss="modal">Close</button>
                          <form action="/user/address/add-user" method="post">
                            <input type="hidden" name="id" value="<%= User._id %>">
                            <input type="hidden" name="back" value="true">
                            <button type="submit" class="btn_1 btn-secondary">Add</button>
                          </form>
                          <!-- <button type="button" class="btn_1 btn-primary">Save changes</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#">Product
                      <span>Total</span>
                    </a>
                  </li>
                  <% cart.forEach(item=> { %>

                    <li>
                      <a href="/user/cart">
                        <%= item.product.product_name %>
                          <span class="middle">x<%= item.quantity %></span>
                          <span class="last">$<%= item.total %></span>
                      </a>
                    </li>
                    <% }) %>

                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal
                      <span>
                        <%= User.totalCartAmount %>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Shipping
                      <span>Flat rate: $50.00</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Total
                      <span>
                        <%= User.totalCartAmount %>
                      </span>
                    </a>
                  </li>
                </ul>





                <div style="background-color: chartreuse;" class=" alert-succes text-center">
                  <p id="flash-message" style="color: green;"></p>
                </div>





                <div class="payment_item">
                  <form action="/user/place-order" method="post">

                    <div>
                      <br>
                      <label style="color: #415094;">Select Payment option </label>
                    </div>
                    <div class="radion_btn">
                      <input type="radio" id="f-option5" name="PaymentOption" value="COD" />
                      <label for="f-option5">Cahs on delivery</label>
                      <div class="check"></div>
                    </div>
                    <div class="radion_btn">
                      <input type="radio" id="f-option9" name="PaymentOption" value="wallet" />
                      <label for="f-option9">Wallet</label>
                      <div class="check"></div>
                    </div>

                    <div class="payment_item active">
                      <div class="radion_btn">
                        <input type="radio" id="f-option6" name="PaymentOption" value="paypal" />
                        <label for="f-option6">Paypal </label>
                        <img src="/Customer/img/product/single-product/card.jpg" alt="" />
                        <div class="check"></div>
                      </div>
                    </div>
                    <div class="creat_account">
                      <input type="checkbox" id="f-option4" name="selector" />
                      <label for="f-option4">I’ve read and accept the </label>
                      <a href="#">terms & conditions*</a>
                    </div>
                    <button type="submit" class="order_btn btn_3 col-md-12">Place Order </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->
  </main>
  <footer>
    <!-- Footer Start-->
    <%- include('../partials/Customerside/footer') %>

      <!-- Footer End-->
  </footer>
  <!--? Search model Begin -->
  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>
  <!-- Search model end -->

  <!-- JS here -->

  <script src="/Customer/js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="/Customer/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/Customer/js/popper.min.js"></script>
  <script src="/Customer/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/Customer/js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/Customer/js/owl.carousel.min.js"></script>
  <script src="/Customer/js/slick.min.js"></script>

  <!-- One Page, Animated-HeadLin -->
  <script src="/Customer/js/wow.min.js"></script>
  <script src="/Customer/js/animated.headline.js"></script>
  <script src="/Customer/js/jquery.magnific-popup.js"></script>

  <!-- Scroll up, nice-select, sticky -->
  <script src="/Customer/js/jquery.scrollUp.min.js"></script>
  <script src="/Customer/js/jquery.nice-select.min.js"></script>
  <script src="/Customer/js/jquery.sticky.js"></script>

  <!-- contact js -->
  <script src="/Customer/js/contact.js"></script>
  <script src="/Customer/js/jquery.form.js"></script>
  <script src="/Customer/js/jquery.validate.min.js"></script>
  <script src="/Customer/js/mail-script.js"></script>
  <script src="/Customer/js/jquery.ajaxchimp.min.js"></script>

  <!-- Jquery Plugins, main Jquery -->
  <script src="/Customer/js/plugins.js"></script>
  <script src="/Customer/js/main.js"></script>


  <!-- <script>const form = document.getElementById("myForm");

 
    form.addEventListener("submit", function (event) {
     
      event.preventDefault();
    
      const formData = new FormData(form);
      const name = formData.get("PaymentOption");

     $.ajax({
      url:"/user/palce-order",
      method:"POST",
      data:{
        PaymentOption:name
      },
      success: function (response) {
        if(response.order){
          displayFlashMessage(response.message)
        }
      }
     })
    
     
   
    
     
    });
        function displayFlashMessage(message) {
      const flashMessageElement = document.getElementById('flash-message');
      flashMessageElement.textContent = message;
      flashMessageElement.style.display = 'block'; // Show the flash message

      setTimeout(() => {
        flashMessageElement.style.display = 'none'; // Hide the flash message after 3 seconds (adjust as needed)
      }, 5000);
    }
  </script> -->



</body>

</html>