<header>
    <!-- Header Start -->
    <%- include('../partials/Customerside/header') %>
        <!-- Header End -->
</header>
<main>
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>OTP verification?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the.. Verify you email now...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Enter The OTP <br>
                                Verify Your Email</h3>
                            <form class="row contact_form" action="/user/otpVerification" method="post"
                                novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="OTP" name="OTP" value=""
                                        placeholder="Enter your OTP">
                                </div>
                                <input type="hidden" id="userId" name="ID" value="<%= id %>">
                                <div class="text-danger" id="countdown">
                                    Time remaining: <span id="timer">60</span> seconds
                                  </div>

                                  
                                  


                                <div class="row col-md-12 form-group p_star">
                                    <button type="submit" value="submit" id="resend"  class="btn_3">
                                        Send
                                    </button>

                                </div>
                                <!--error messages-->
                                <% if (typeof message !="undefined" ) {%>
                                    <p class="mt-3 text-danger ">
                                        <%= message %>
                                    </p>
                                    <%} %>
                                        <!--end messages-->
                            </form>
                            <div id="resendContainer" class="row col-md-12 form-group p_star" style="display: none;">
                                <form action="/resend-otp" method="post">
                                  <input type="hidden" name="userId" value="<%= id %>">
                                  <button type="submit" class="btn" id="resendButton">Resend OTP</button>
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================login_part end =================-->
</main>
<footer>
    <!-- Footer Start-->
    <%- include('../partials/Customerside/footer') %>
        <!-- Footer End-->
</footer>
<!-- Otp counter script -->
<script src="/Customer/js/otpCounter.js"></script>
<script >
// Define the startCountdown function


</script>