<header>
    <!-- Header Start -->
    <%- include('../partials/Customerside/header') %>
        <!-- Header End -->
</header>
<main>
    <div class="container">
        <div class="mt-5 mb-5">
            <form id="price-range-form" action="/user/shop" method="get">
                <div class="row filter-box">
                    <div class="col-md-4">
                        <div class="filter-box">
                            <h3 class="filter-title text-center">Category</h3>
                            <hr>
                            <div class="form-check">
                                <% for (let index=0; index < uniqueCategoryArray.length; index++) { %>
                                    <input class="form-check-input" type="radio" name="category"
                                        value="<%= uniqueCategoryArray[index].category._id %>">
                                    <label class="form-check-label">
                                        <% if (uniqueCategoryArray[index].category) { %>
                                            <%= uniqueCategoryArray[index].category.categoryName %>
                                        <% } else {%>
                                            No Category
                                            <% } %>
                                    </label>
                                    <br>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter-box">
                            <h3 class="filter-title text-center">Brand Name</h3>
                            <hr>
                            <div class="form-check">
                                <% for( let index=0; index < brandNames.length; index++ ) { %>
                                    <input class="form-check-input" type="radio" name="brand"
                                        value="<%= brandNames[0].brand_name %>">
                                    <label class="form-check-label">
                                        <%= brandNames[index].brand_name %>
                                    </label>
                                    <br>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter-box">
                            <h3 class="filter-title text-center">Price Range</h3>
                            <hr>
                            <div class="range-slider">
                                <label for="min-price" class="form-label">Min price: </label>
                                <span id="min-price-txt">&#8377;0</span>
                                <input type="range" class="form-range" name="min" min="0" max="500" id="min-price"
                                    step="1" value="0">
                            </div>
                            <div class="range-slider">
                                <label for="max-price" class="form-label">Max price: </label>
                                <span id="max-price-txt">&#8377;0</span>
                                <input type="range" class="form-range" name="max" min="0" max="5000" id="max-price"
                                    step="1" value="0">
                            </div>
                            <button class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">

        <div class="container">


            <div class="row product-btn d-flex justify-content-between mb-40">
               
                <!-- Grid and List view -->
                <div class="grid-list-view">
                </div>
                <!-- Select items -->
                <div class="select-this">

                    <div class="input-group col-lg-5">
                        <input type="text" class="form-control " name="query" value="<%= query ?? '' %>"
                            placeholder="Search products">
                        <button class="btn_3 btn-sm  btn-search btn-primary" type="submit"
                            style="height: 10px;">Search</button>
                    </div>
                    </form>
                </div>
            </div>
            <!-- success message -->
            <% if (success && success.length > 0) { %>
                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    Swal.fire({
                      icon: "success",
                      title: "Success!",
                      html: "<ul>" +
                        "<% for (const message of success) { %>" +
                        "<li><%= message %></li>" +
                        "<% } %>" +
                        "</ul>",
                      showConfirmButton: true,
                      timer: 1000 // Auto close after 5 seconds
                    });
                  });
                </script>
              <% } %>
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">

                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="row">

                                <% if (products.length==0) { %>
                                    <h4 class="text-center text-danger">
                                        No products..
                                    </h4>
                                    <% } %>
                                        <% for (let product=0; product < products.length; product +=3) { %>
                                            <!-- Start of product group -->
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                <div class="single-popular-items mb-50 text-center">
                                                    <div class="popular-img">
                                                        <a class="add-to-cart-link"
                                                            href="/user/displayProduct?productId=<%= products[product]._id %>">
                                                            <img src="data:<%= products[product].images[0].contentType %>;base64,<%= products[product].images[0].data.toString('base64') %>"
                                                                alt="<%= products[product].price %>" </a>

                                                            <% if (products[product].stock_count-1 > 0) { %>
                                                                <div class="img-cap">
                                                                    <a class="add-to-cart-link"
                                                                        href="/user/product/addcart?productId=<%= products[product]._id %>">
                                                                        <span>Add to cart</span>
                                                                    </a>
                                                                </div>
                                                                <% } else { %>
                                                                    <div class="img-cap">
                                                                        <span>Out Of stock</span>
                                                                    </div>
                                                                    <% } %>


                                                                        <div class="favorit-items">
                                                                            <a href="/add-wishlist?id=<%= products[product]._id %>"> <span class="flaticon-heart"></span></a>
                                                                           
                                                                        </div>
                                                    </div>
                                                    <div class="popular-caption">
                                                        <h3><a>
                                                                <%= products[product].product_name %>
                                                            </a></h3>

                                                        <% if (products[product].offerPrice> 0 && products[product].categoryOfferPrice > 0) { %>
                                                            <% if (products[product].offerPrice < products[product].categoryOfferPrice) { %>
                                                                <span>&#8377;<%= products[product].offerPrice %></span> <span><del class="text-danger"> <%=products[product].price %> </del></span>
                                                                <% } else { %>
                                                                    <span>&#8377;<%= products[product].categoryOfferPrice%></span>
                                                                    <span class="text-danger"><del class="text-danger">&#8377;<%=products[product].price %></del></span>
                                                                    <% } %>
                                                                        <% } else if (products[product].offerPrice > 0) {
                                                                            %>
                                                                            <!-- Display offer price -->
                                                                            <span>&#8377;<%= products[product].offerPrice %></span>
                                                                            <span class="text-danger"><del class="text-danger">&#8377; <%=products[product].price %> </del></span>
                                                                            <% } else if (products[product].categoryOfferPrice > 0) { %>
                                                                                <!-- Display category offer price -->
                                                                                <span>&#8377;<%=products[product].categoryOfferPrice%></span>
                                                                                <span class="text-danger"><del class="text-danger">&#8377;<%=products[product].price %></del></span>

                                                                                <% } else { %>
                                                                                    <!-- Display original price -->
                                                                                    <span>&#8377;<%= products[product].price%></span>
                                                                                    <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if (product + 1 < products.length) { %>
                                                <!-- Product 2 (if available) -->
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    <div class="single-popular-items mb-50 text-center">
                                                        <div class="popular-img">
                                                            <a
                                                                href="/user/displayProduct?productId=<%= products[product + 1]._id %>">
                                                                <input type="hidden" name="productID"
                                                                    value="<%= product._id %>">
                                                                <img src="data:<%= products[product + 1].images[0].contentType %>;base64,<%= products[product + 1].images[0].data.toString('base64') %>"
                                                                    alt="<%= products[product + 1].price %> Image">
                                                            </a>

                                                            <% if (products[product + 1].stock_count-1 > 0) { %>
                                                                <div class="img-cap">
                                                                    <a class="add-to-cart-link"
                                                                        href="/user/product/addcart?productId=<%= products[product +1]._id %>">
                                                                        <span>Add to cart</span>
                                                                    </a>
                                                                </div>
                                                                <% } else { %>
                                                                    <div class="img-cap">
                                                                        <span>Out Of stock</span>
                                                                    </div>
                                                                    <% } %>
                                                                        <div class="favorit-items">
                                                                            <a href="/add-wishlist?id=<%= products[product]._id %>"> <span class="flaticon-heart"></span></a>
                                                                        </div>
                                                        </div>
                                                        <div class="popular-caption">
                                                            <h3><a>
                                                                    <%= products[product + 1].product_name %>
                                                                </a></h3>
                                                            <% if (products[product + 1].offerPrice> 0 && products[product + 1].categoryOfferPrice > 0) { %>
                                                                <% if (products[product + 1].offerPrice < products[product + 1].categoryOfferPrice) { %>
                                                                    <span>&#8377;<%= products[product + 1].offerPrice %> </span>
                                                                    <span><del class="text-danger"> <%=products[product + 1].price %> </del></span>
                                                                    <% } else { %>
                                                                        <span>&#8377;<%= products[product + 1].categoryOfferPrice%></span>
                                                                        <span class="text-danger"><del class="text-danger">&#8377;<%=products[product + 1].price %> </del></span>
                                                                        <% } %>
                                                                            <% } else if (products[product +
                                                                                1].offerPrice> 0) { %>
                                                                                <!-- Display offer price -->

                                                                                <span>&#8377;<%= products[product +
                                                                                        1].offerPrice %></span>
                                                                                <span class="text-danger"><del
                                                                                        class="text-danger">&#8377;
                                                                                        <%=products[product + 1].price
                                                                                            %>
                                                                                    </del></span>


                                                                                <% } else if (products[product +
                                                                                    1].categoryOfferPrice> 0) { %>
                                                                                    <!-- Display category offer price -->


                                                                                    <span>&#8377;<%= products[product +
                                                                                            1].categoryOfferPrice %>
                                                                                    </span>
                                                                                    <span class="text-danger"><del
                                                                                            class="text-danger">&#8377;<%=
                                                                                                products[product +
                                                                                                1].price %>
                                                                                        </del></span>

                                                                                    <% } else { %>
                                                                                        <!-- Display original price -->
                                                                                        <span>&#8377;<%= products[product +
                                                                                                1].price %></span>
                                                                                        <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% if (product + 2 < products.length) { %>
                                                        <!-- Product 3 (if available) -->
                                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                            <div class="single-popular-items mb-50 text-center">
                                                                <div class="popular-img">
                                                                    <a class="add-to-cart-link"
                                                                        href="/user/displayProduct?productId=<%= products[product + 2]._id %>">
                                                                        <input type="hidden" name="productID"
                                                                            value="<%= product._id %>">
                                                                        <img src="data:<%= products[product + 2].images[0].contentType %>;base64,<%= products[product + 2].images[0].data.toString('base64') %>"
                                                                            alt="<%= products[product + 2].price %> Image">
                                                                    </a>

                                                                    <% if (products[product + 2].stock_count-1 > 0) {
                                                                        %>
                                                                        <div class="img-cap">
                                                                            <a class="add-to-cart-link"
                                                                                href="/user/product/addcart?productId=<%= products[product + 2]._id %>">
                                                                                <span>Add to cart</span>
                                                                            </a>
                                                                        </div>
                                                                        <% } else { %>
                                                                            <div class="img-cap">
                                                                                <span>Out Of stock</span>
                                                                            </div>
                                                                            <% } %>
                                                                                <div class="favorit-items">
                                                                                    <a href="/add-wishlist?id=<%= products[product]._id %>"> <span class="flaticon-heart"></span></a>
                                                                                </div>
                                                                </div>
                                                                <div class="popular-caption">
                                                                    <h3><a href="product_details.html"
                                                                            class="add-to-cart-link">
                                                                            <%= products[product + 2].product_name %>
                                                                        </a></h3>
                                                                    <% if (products[product + 2].offerPrice> 0 && products[product + 2].categoryOfferPrice >
                                                                        0) {
                                                                        %>
                                                                        <% if (products[product + 2].offerPrice <
                                                                            products[product + 2].categoryOfferPrice) {
                                                                            %>

                                                                            <span>&#8377;<%= products[product + 2].offerPrice
                                                                                    %></span>
                                                                            <span><del class="text-danger">
                                                                                    <%=products[product + 2].price %>
                                                                                </del></span>

                                                                            <% } else { %>

                                                                                <span>&#8377;<%= products[product +
                                                                                        2].categoryOfferPrice%>
                                                                                </span>
                                                                                <span class="text-danger"><del
                                                                                        class="text-danger">&#8377;<%=
                                                                                            products[product + 2].price
                                                                                            %>
                                                                                    </del></span>

                                                                                <% } %>

                                                                                    <% } else if (products[product +
                                                                                        2].offerPrice> 0) { %>
                                                                                        <!-- Display offer price -->

                                                                                        <span>&#8377;<%= products[product +
                                                                                                2].offerPrice %>
                                                                                        </span>
                                                                                        <span class="text-danger"><del
                                                                                                class="text-danger">&#8377;
                                                                                                <%=products[product +
                                                                                                    2].price %>
                                                                                            </del></span>


                                                                                        <% } else if (products[product +
                                                                                            2].categoryOfferPrice>
                                                                                            0) {
                                                                                            %>
                                                                                            <!-- Display category offer price -->


                                                                                            <span>&#8377;<%= products[product
                                                                                                    +
                                                                                                    2].categoryOfferPrice
                                                                                                    %></span>
                                                                                            <span
                                                                                                class="text-danger"><del
                                                                                                    class="text-danger">&#8377;
                                                                                                    <%= products[product
                                                                                                        + 2].price %>
                                                                                                </del></span>

                                                                                            <% } else { %>
                                                                                                <!-- Display original price -->
                                                                                                <span>&#8377;<%=
                                                                                                        products[product
                                                                                                        + 2].price %>
                                                                                                </span>
                                                                                                <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <% } %>
                            </div>

                        </div>
                        <div class="text-center">
                            <nav aria-label="Page navigation" class="pagination">
                                <ul class="pagination justify-content-end">

                                    <% const totalPages=Math.max(1, Math.ceil(filter.length / 10)); %>
                                        <!-- Loop through the total number of pages and create a page link for each -->
                                        <% for (let page=1; page <=totalPages; page++) { %>
                                            <li class="page-item <% if (currentPage == page) { %>disabled<% } %>">
                                                <a class="page-link" href="/user/shop?page=<%= page %>">
                                                    <%= page %>
                                                </a>
                                            </li>
                                            <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
    </section>

    <%- include('../partials/Customerside/shopMethods') %>

</main>


    <%- include('../partials/Customerside/footer') %>


<script>
    
  $("#min-price").on("change mousemove", function () {
    min_price = parseInt($("#min-price").val());
    $("#min-price-txt").text("$" + min_price);
    showItemsFiltered();
});

$("#max-price").on("change mousemove", function () {
    max_price = parseInt($("#max-price").val());
    $("#max-price-txt").text("$" + max_price);
    showItemsFiltered();
});

</script>
