<%- include('../partials/Customerside/header') %>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <% items.forEach((pro)=> { %>


                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                            <img class="w-100"
                                                src="data:<%= pro.images[0].contentType %>;base64,<%= pro.images[0].data.toString('base64') %>"
                                                alt="<%= pro.price %> Image">

                                            <a href="#!">
                                                <div class="hover-overlay">
                                                    <div class="mask"
                                                        style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <h5>
                                            <%= pro.product_name %>
                                        </h5>

                                        <div class="mt-1 mb-0 text-muted small">
                                            <span>100% <%= pro.meterial %></span>
                                            <span class="text-primary"> • </span>
                                            <span>Light weight</span>
                                            <span class="text-primary"> • </span>
                                            <span>
                                                <%= pro.color %><br />
                                            </span>
                                        </div>
                                        <div class="mb-2 text-muted small">
                                            <span>Unique design</span>
                                            <span class="text-primary"> • </span>
                                            <span>
                                                <%= pro.meterial %>
                                            </span>
                                            <span class="text-primary"> • </span>
                                            <span>
                                                <%= pro.category.categoryName %><br />
                                            </span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0">
                                            <%= pro.description %>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-center">
                                        <div class=" test text-center justify-content-center">
                                          <div class="d-flex text-center justify-content-center" >
                                            <% if (pro.offerPrice > 0 && pro.categoryOfferPrice > 0) { %>
                                              <% if (pro.offerPrice < pro.categoryOfferPrice) { %>
                                                  <p>&#8377;<%= pro.offerPrice %></p> &nbsp;
                                                  <p><del class="text-danger"><%= pro.price %></del></p>
                                              <% } else { %>
                                                  <p>&#8377;<%= pro.categoryOfferPrice %></p> &nbsp;
                                                  <p class="text-danger"><del class="text-danger">&#8377;<%= pro.price %></del></p>
                                              <% } %>
                                          <% } else if (pro.offerPrice > 0) { %>
                                              <!-- Display offer price -->
                                              <p>&#8377;<%= pro.offerPrice %></p> &nbsp;
                                              <p class="text-danger"><del class="text-danger">&#8377;<%= pro.price %></del></p>
                                          <% } else if (pro.categoryOfferPrice > 0) { %>
                                              <!-- Display category offer price -->
                                              <p>&#8377;<%= pro.categoryOfferPrice %></p> &nbsp;
                                              <p class="text-danger"><del class="text-danger">&#8377;<%= pro.price %></del></p>
                                          <% } else { %>
                                              <!-- Display original price -->
                                              <p>&#8377;<%= pro.price %></p>
                                          <% } %>
                                          </div>
                                          <button class="btn-primary btn-sm me-1 mb-2 remove-item-btn" data-proid="<%= pro._id %>">
                                            <i class="fas fa-trash"></i> 
                                          </button>
                                          
                                          <button href="/user/product/addcart?productId=<%= pro._id %>" class="btn-danger btn-sm me-1 mb-2 move-to-wishlist-btn" data-mdb-toggle="tooltip" " data-proid="<%= pro._id %>">
                                            <i class="fas flaticon-shopping-cart"></i>
                                          </button>
                                          
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <% }) %>
                    </div>
                </div>
            </div>

    </section>


    <%- include('../partials/Customerside/footer') %>
    <script src="path_to_sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  const id = "<%= cart%>"
  // Find all the remove item buttons
  const removeItemButtons = document.querySelectorAll('.remove-item-btn');

  // Add a click event listener to each button
  removeItemButtons.forEach(button => {
    button.addEventListener('click', () => {
      const proId = button.getAttribute('data-proid');
      Swal.fire({
        title: 'Confirm Removal',
        text: 'Are you sure you want to remove this item from your wishlist?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, remove it!'
      }).then((result) => {
        if (result.isConfirmed) {
          // Redirect to the "remove" URL when confirmed
          window.location.href = `/delete-item-wishlist?id=${proId}`;
        }
      });
    });
  });
  
  const moveButtons = document.querySelectorAll('.move-to-wishlist-btn');
  // Add a click event listener to each button
  moveButtons.forEach(button => {
    button.addEventListener('click', (e) => {
      e.preventDefault(); // Prevent the link from being immediately followed
      const proId = button.getAttribute('data-proid');
      if(id.includes(proId)){
        Swal.fire({
        title: 'Item already in Cart',
        text: 'Item already in your Cart?',
        icon: 'question',
        showCancelButton: true,
      }).then((result) => {
      });
      }else{
        Swal.fire({
        title: 'Move to Cart',
        text: 'Are you sure you want to move this item to your Cart?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          // Redirect to the URL to add to the wishlist when confirmed
          window.location.href = `/user/product/addcart?productId=${proId}`;
        }
      });
      }
 
    });
  });
</script>
