<%- include('../../partials/Adminside/adminNav') %>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('../../partials/Adminside/adminsidepanel') %>
      <!-- partial -->
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
   
          <!-- partial -->
          <div class="main-panel">

            <div class="content-wrapper">
              <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                  <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="/admin/product/Category-management" method="get">
                    <input type="text" class="form-control" name="search" placeholder="Search coupons">
                    <button class="btn-info">Search</button>
                  </form>
                </li>
              </ul>

              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">

                      <div class="d-flex flex-row justify-content-between">
                        <h4 class="card-title">All Category</h4>
                        <a href="/admin/product/add-category">Add Category</a>
                      </div>

                      </p>
                      <div class="table-responsive">


                        <% if (Categores.length) { %>
                          <table class="table">
                            <thead>
                              <tr>
                                <th>NO</th>
                                <th>Images</th>
                                <th>Category Name</th>
                                <th>Description</th>
                                <th>Offer</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>

                              <% Categores.forEach((Category,i)=> { %>
                                <tr>
                                  <td>
                                    <%= i+1 %>
                                  </td>
                                  <td>

                                    <% if (Category.image.contentType) { %>

                                      <img
                                        src="data:<%= Category.image.contentType %>;base64,<%= Category.image.data.toString('base64') %>"
                                        alt="<%= Category.categoryName %> Image" style="width: 50px; height: 50px;">
                                      <% } %>


                                  </td>

                                  <td>
                                    <%= Category.categoryName %>
                                  </td>
                               
                                  <td>
                                    <%= Category.description %>
                                  </td>
                                  <td>
                                    <% if (Category.offer) { %>
                                     <p class="text-success "> <%= Category.offer.name %></p>
                                    <% } else { %>
                                   <p class="text-danger">   No Offers</p>
                                    <%}%>
                                    
                                  </td>
                                  <td>

                                    <a href="/admin/Category/<%= Category._id %>/Delete"
                                      class="btn btn-danger">Delete</i></a>
                                    <a href="/admin/Category/<%= Category._id %>/Edit-Category"
                                      class="btn btn-primary">Edit</i></a>

                                  </td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>

                          <% } else { %>
                            <p>No Categores</p>
                            <% } %>

                      </div>
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                          <% if (currentPage !== 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="/admin/product?page=<%= currentPage-1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                          <% } %>
                          <!-- Calculate the total number of pages -->
                          <% const totalPages = Math.max(1, Math.ceil(len.length / 10)); %>                                                  <!-- Loop through the total number of pages and create a page link for each -->
                          <% for (let page = 1; page <= totalPages; page++) { %>
                            <li class="page-item <% if (currentPage == page) { %>active<% } %>">
                              <a class="page-link" href="/admin/product/Category-management?page=<%= page %>"><%= page %></a>
                            </li>
                          <% } %>
                          <% if (currentPage !== totalPages ) { %>
                            <li class="page-item">
                              <% const nextPage = currentPage + 1; %>
                              <a class="page-link" href="/admin/product?page=<%= nextPage %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                              
                            </li>
                          <% } %> 
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>

              <!-- content-wrapper ends -->
              <!-- partial:../../partials/_footer.html -->

              <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                    bootstrapdash.com 2020</span>
                  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                      href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin
                      templates</a> from Bootstrapdash.com</span>
                </div>
              </footer>
              <!-- partial -->
            </div>
            <!-- main-panel ends -->
          </div>
          <!-- page-body-wrapper ends -->
      </div>
      <%- include('../../partials/Adminside/footer') %>