<%- include('../../partials/Customerside/header') %>
    <div class="container">
        <div class="shadow p-3 mb-5 bg-body rounded text-center">
            <br>
            <h3 class="text-black">Order Summary</h3>
            <br>
        </div>
        <br>
        <div class="container">
            <% userOrder.forEach((order, i)=> { %>
                <div class="card mb-3">
                    <div class="card-body  border border-4">
                        <!-- Delivery Address -->
                        <form action="/user/profile/show-product-details/" method="post">
                            <input type="hidden" name="Products" value="<%= userOrder[i]._id %>">
                            <button class="btn_1 btn-sm btn-primary float-end">Show Product Details</button>
                        </form>

                        <h6>Placed order date ( <small class="text-info">
                                <%= order.orderDate.toLocaleString() %>
                            </small> )</h6><br>
                        <h5 class="card-title">
                            <% if (order.paymentOption=="razorpay" ) { %>
                                Delivery Address <sup class="text-danger badge bg-white text-wrap">(Payment
                                    successful)</sup>
                                <% } else { %>
                                    Delivery Address
                                    <% } %>
                        </h5>
                        <strong class="card-text">
                            <%= order.deliveryAddress.Name %>
                        </strong>
                        <address>
                            <%= order.deliveryAddress.HouseName %><br>
                                <%= order.deliveryAddress.RoadArea %><br>
                                    <%= order.deliveryAddress.City %>, <%= order.deliveryAddress.Region %><br>
                                            <%= order.deliveryAddress.Country %>
                                                <%= order.deliveryAddress.PinCode %><br>
                                                    Mobile: <%= order.deliveryAddress.Mobile %>
                        </address>

                        <ul class="list-group list-group-light list-group-small">
                            <% if (order.orderCanceled===false) { %>

                                <h5>Delivery Date <sup class="text-success">(expecting)</sup></h5>
                                <p>
                                    <%= order.deliveryDate.toLocaleString() %>
                                </p>


                                <% if (order.is_returned===false) { %>
                                    <li class="list-group-item">
                                        <% if (order.returnRequest==="Pending" ) { %>
                                            Order Status: <span class="text-info">
                                                <%= order.returnRequest %>
                                            </span>
                                            <% } else if (order.returnRequest==="Reject" ) { %>
                                                Order Status: <span class="text-danger">
                                                    <%= order.returnRequest %>
                                                </span>
                                                <% } else { %>
                                                    Order Status: <span class="text-success">
                                                        <%= order.returnRequest %>
                                                    </span>
                                                    <% } %>
                                    </li>
                                    <% } %>
                                        <% } %>
                                            <% if (order.orderCanceled===false) { %>
                                                <% if (order.returnRequest==="Approved" ||
                                                    order.returnRequest==="Pending" ) { %>
                                                    <li class="list-group-item text-center">
                                                        <form action="/user/order/Cancel/" method="post">
                                                            <button type="button" class="btn btn-danger"
                                                                data-toggle="modal" onclick="cancellOrder('<%= order._id %>')">
                                                                Cancel Order
                                                            </button>


                                                    </li>
                                                    <% } else if (order.is_returned===true) { %>
                                                        <li class="list-group-item text-center">
                                                            <h4 class="text-danger">Requesting Product Return <sup
                                                                    class="text-danger">(<%= order.return_Status %>
                                                                        )</sup></h4>
                                                        </li>
                                                        <% } else if (order.returnRequest==="Completed" ) { %>
                                                            <li class="list-group-item text-center">



                                                                <button type="button" class="btn btn-primary"
                                                                    onclick="openReturnModal('<%= order._id %>')">
                                                                    Return Product
                                                                </button>

                                                            </li>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <li class="list-group-item text-center">
                                                                        <div class="text-center">
                                                                            <h3 class="text-danger text-lg">Order
                                                                                Cancelled</h3>
                                                                        </div>
                                                                    </li>
                                                                    <% } %>
                        </ul>
                    </div>

                </div>
                <br>
                <br>
                <% }) %>

        </div>

    </div>

    
    <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalLabel">Select Return Reason</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="returnForm" action="/return-product" method="post">
                        <div class="form-group">
                            <input type="hidden" id="orderIdInput" name="orderId" value="">
                       
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="damaged"
                                    value="damaged">
                                <label class="form-check-label" for="damaged">
                                    Item is damaged
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="wrong"
                                    value="wrong">
                                <label class="form-check-label" for="wrong">
                                    Received the wrong item
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="changedMind"
                                    value="changedMind">
                                <label class="form-check-label" for="changedMind">
                                    Changed my mind
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="other"
                                    value="Quality issues">
                                <label class="form-check-label" for "other">
                                    Quality issues
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="other"
                                    value="Not as described:">
                                <label class="form-check-label" for "other">
                                    Not as described:
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="other"
                                    value="Unsatisfactory performance">
                                <label class="form-check-label" for "other">
                                    Unsatisfactory performance
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="returnReason" id="other"
                                    value="other">
                                <label class="form-check-label" for "other">
                                    Other reason
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="additionalComments">Additional Comments (optional)</label>
                            <textarea class="form-control" name="additionalComments" id="additionalComments"
                                rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="returnForm" class="btn btn-primary">Submit Return</button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="orderCanceled" tabindex="-1" role="dialog" aria-labelledby="orderCanceledLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderCanceledLabel">Select Return Reason</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="returnForm" action="/user/order/Cancel/" method="post">
                        <div class="form-group">
                            <input type="hidden" id="cancellOrder" name="orderId" value="">
                            <label for="returnReason">Reason for Return</label>
                     
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancellReason" id="damaged"
                                    value="Item out of stock">
                                <label class="form-check-label" for="damaged">
                                    Item out of stock
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancellReason" id="wrong"
                                    value="Change of plans">
                                <label class="form-check-label" for="wrong">
                                    Change of plans
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancellReason" id="changedMind"
                                    value="changedMind">
                                <label class="form-check-label" for="changedMind">
                                    Changed my mind
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancellReason" id="other"
                                    value="Personal reasons">
                                <label class="form-check-label" for "other">
                                    Personal reasons
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancellReason" id="other"
                                    value="other">
                                <label class="form-check-label" for "other">
                                    Other reason
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="additionalComments">Additional Comments (optional)</label>
                            <textarea class="form-control" name="additionalComments" id="additionalComments"
                                rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="returnForm" class="btn btn-primary">Submit Return</button>
                </div>
            </div>
        </div>
    </div>


 

    <%- include('../../partials/Customerside/footer') %>

        <script>
            function openReturnModal(orderId) {
                document.getElementById("orderIdInput").value = orderId;
                var myModal = new bootstrap.Modal(document.getElementById("returnModal"));
                myModal.show();
            }

            function cancellOrder(orderId) {
                document.getElementById("cancellOrder").value = orderId;
                var myModal = new bootstrap.Modal(document.getElementById("orderCanceled"));
                myModal.show();
            }


        </script>