
    <%- include('../../partials/Customerside/header') %>

        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-xl-10">
                        <div class="card shadow-0 border rounded-3">
                         
                            <% order.products.forEach((pro)=> { %>


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img class="w-100" src="data:<%= pro.product.images[0].contentType %>;base64,<%= pro.product.images[0].data.toString('base64') %>" alt="<%= pro.product.price %> Image" >
                                                    
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask"
                                                            style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5><%=  pro.product.product_name %></h5>
                                            <div class="mt-1 mb-0 text-muted small">
                                                <span>100% <%=  pro.product.meterial %></span>
                                                <span class="text-primary"> • </span>
                                                <span>Light weight</span>
                                                <span class="text-primary"> • </span>
                                                <span><%=  pro.product.color %><br /></span>
                                            </div>
                                            <div class="mb-2 text-muted small">
                                                <span>Unique design</span>
                                                <span class="text-primary"> • </span>
                                                <span>  <%=  pro.product.meterial %></span>
                                                <span class="text-primary"> • </span>
                                                <span><%=  pro.product.category.categoryName %><br /></span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                <%=  pro.product.description %>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"><br><br>
                                            <div class="mb-1">
                                                <h6>Quantity : <%= pro.quantity %></h6> 
                                                <h6>price
                                                <% if (pro.product.offerPrice > 0 && (pro.product.offerPrice < pro.product.price || pro.product.price <= 0) && (pro.product.offerPrice < pro.product.categoryOfferPrice || pro.product.categoryOfferPrice <= 0)) { %>
                                                 <%= pro.product.offerPrice %>
                                                    <s class="text-danger text-sm">&#8377;<%= pro.product.price %></s>
                                                 <% } else if (pro.product.price > 0 && (pro.product.price < pro.product.offerPrice || pro.product.offerPrice <= 0) && (pro.product.price < pro.product.categoryOfferPrice || pro.product.categoryOfferPrice <= 0)) { %>
                                                <%= pro.product.price %> </h4>
                                                 <% } else if (pro.product.categoryOfferPrice > 0 && (pro.product.categoryOfferPrice < pro.product.offerPrice || pro.product.offerPrice <= 0) && (pro.product.categoryOfferPrice < pro.product.price || pro.product.price <= 0)) { %>
                                                  <%= pro.product.categoryOfferPrice %>
                                                 <s class="text-danger">&#8377;<%=pro.product.price %></s>
                                                 <% } else { %>
                                                    &#8377;0
                                                 <% } %>
                                                </h6>
                                                <h5>total : <%= pro.total %></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                            <% }) %>
                            <h3 class="text-danger">&nbsp;&nbsp;Grand Total : <%= order.totalAmount %></h3>
                            <h4 class="text-danger">&nbsp;&nbsp;Dicount : <%= order.discountAmount %></h4>
                        </div>
                    </div>
                </div>
                <!--  -->
        </section>


        <%- include('../../partials/Customerside/footer') %>


         