<!--header ejs file included-->


<%- include('../../partials/Customerside/header') %>
    <!--header ejs file included ended-->
    <main>
        <!--? slider Area Start -->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <section class="h-100 gradient-custom-2">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-9 col-xl-12">
                                <div style="border-radius: 30px;" class="card">
                                    <!-- Header with user image and edit profile button -->
                                    <br>
                                    <div class="rounded-top text-white d-flex flex-row" style="height: 200px;">
                                        <div class="ms-4 mt-4 d-flex flex-column" style="width: 150px;">

                                            <% if (user.images && user.images.contentType && user.images.data) { %>
                                                <img src="data:<%= user.images.contentType %>;base64,<%= user.images.data.toString('base64') %>"
                                                alt="<%= user.images %>" </a>
                                              <% } else { %>
                                                <img src="/Customer/img/blog/popular-post/account-icon-user-icon-vector-graphics_292645-552.avif" alt="image" class="border border-dark" style="width: 150px; height: 150px;">
                                              <% } %>
                                              


                                        </div>

                                        <div class="ms-3" style="margin-top: 130px;">
                                            <h5 style="color: #000000;">
                                                <%= user.name %>
                                            </h5>

                                        </div>
                                    </div>
                                    <br> <br> <br>

                                    <!-- Navigation Links -->
                                    <div class=" text-white "
                                        style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                                        <div class="d-flex justify-content-center text-center">
                                            <div>
                                                <form action="/user/show-order-details/" method="get">

                                                    <button style="color: hsl(0, 0%, 100%);" class="btn text-black"
                                                        type="submit">My Orders</button>

                                                </form>
                                            </div>
                                            <div class="px-3">
                                                <form action="/user/address/add-user" method="post">
                                                    <input type="hidden" name="id" value="<%= user._id %>">
                                                    <button style="color: hsl(0, 0%, 100%);" class="btn text-black"
                                                        type="submit">Add
                                                        Address</button>

                                                </form>
                                            </div>
                                            <div class="px-3">
                                                <form action="/user/edit_profile" method="post">
                                                    <input type="hidden" name="id" value="<%= user._id %>">
                                                    <button style="color: hsl(0, 0%, 100%);" class="btn  text-black"
                                                        type="submit">Edit
                                                        Profile</button>
                                                </form>
                                            </div>
                                            <div class="px-3">
                                                <button style="color: hsl(0, 0%, 100%);" class="btn  text-black"
                                                    type="submit"> <a href="/Wallet">Wallet</a>
                                                </button>
                                            </div>
                                            <div>
                                                <button style="color: hsl(0, 0%, 100%);" class="btn  text-black"
                                                    type="submit"> <a href="/coupon">Coupons</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- Profile Details -->
                                    <div class="card-body p-4">
                                        <div class="mb-5">
                                            <p class="lead fw-normal mb-1" style="color: #000000;">Profile
                                                Details</p>
                                            <div class="p-4" style="border-radius: 15px; background-color: #e8eaf6;">
                                                <p>Name: </p>
                                                <p class="shadow-sm p-3 mb-5 bg-light rounded"
                                                    style="font-weight: bold;"><span>
                                                        <%= user.name %>
                                                    </span></p>
                                                <p>Email:</p>
                                                <p style="font-weight: bold;"
                                                    class="shadow-sm p-3 mb-5 bg-light rounded"> <span>
                                                        <%= user.email %>
                                                    </span></p> 
                                                <p>Gender: </p>
                                                <p style="font-weight: bold; "
                                                    class="shadow-sm p-3 mb-5 bg-light rounded"><span>
                                                        <%= user.gender %>
                                                    </span></p>
                                            </div>
                                        </div>
                                        <% if (address && address.length> 0) { %>
                                            <p class="lead fw-normal mb-1" style="color: #000000;">Address</p>
                                            <% address.forEach(add=> { %>
                                                <div class="card" style="background-color: #e8eaf6; border-radius: 30px; position: relative;">
                                                    &nbsp; &nbsp;
                                                  <div class="d-flex">
                                                    &nbsp; &nbsp;
                                                    <form action="/user/address/edit" method="post" >
                                                        <input type="hidden" name="id" value="<%= add._id %>">
                                                        <button class="btn_1 text-black" style="color: hsl(0, 0%, 100%)">Edit</button>
                                                    </form>  &nbsp;
                                                    <form action="/user/address/delete" method="post">
                                                        <input type="hidden" name="id" value="<%= add._id %>">
                                                        <button class="btn_1" style="color: hsl(0, 0%, 100%)">Delete</button>
                                                    </form>
                                                  </div>
                                                    <div class="card-body p-4">
                                                        <h5><%= add.Name %></h5>
                                                        <address>
                                                            <%= add.HouseName %>,<br>
                                                            <%= add.RoadArea %>,<br>
                                                            <%= add.City %>,<br><%= add.Region %>
                                                            <%= add.Country %>,<%= add.PinCode %> <br>
                                                            Mobile: <%= add.Mobile %>
                                                        </address>
                                                    </div>
                                                </div>
                                                <br>
                                                <% }) %>
                                                    <% } else { %>
                                                        <p class="lead fw-normal mb-1" style="color: #000000;">
                                                            Address Not added</p>
                                                        <% } %>



                                    </div>
                                    <div class="container mt-5">
                                        <div class="d-flex justify-content-center row">
                                            <div class="col-md-6">
                                                <div class="coupon p-3 bg-info">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4 border-right">
                                                            <div class="d-flex flex-column align-items-center">
                                                                <img src="https://i.imgur.com/XwBlVpS.png">
                                                                <span class="d-block">Invite friends to get $100</span>
                                                                <span class="text-black-50">Invite friends to get a
                                                                    reward. They get $20</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div>
                                                                <br>
                                                                <br>
                                                                <div
                                                                    class="d-flex flex-row justify-content-between off px-3 p-2">
                                                                    <span>Code:</span>
                                                                    <span
                                                                        class="border border-success px-3 rounded code"
                                                                        id="couponCode">
                                                                        <%= user.referralCode %>
                                                                    </span>
                                                                </div>
                                                                <button class="btn_1 btn-primary mt-3"
                                                                    onclick="copyCouponCode()">Copy Code</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <br>


                                </div>
                            </div>
                        </div>
                </section>

            </div>
        </div>
    </main>
    <footer>
        <!-- Footer Start-->
        <%- include('../../partials/Customerside/footer') %>
            <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <script src="/Customer/js/textCopy.js"></script>

    </body>

    </html>